@import url("https://fonts.googleapis.com/css?family=Comfortaa");
* {
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", cursive;
}

* p,
* li,
* a,
* input,
* textarea,
* button,
* label {
  font-size: 13px;
}

* input {
  margin: 5px 0 5px 0;
  padding: 5px;
}

* body {
  background-color: #e5e6d8;
}

.container {
  width: 100%;
}

.container nav {
  background-color: #f23c50;
  padding: 10px;
}

.container nav .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
}

.container nav .content .division img {
  height: 22px;
}

.container nav .content .division ul li {
  display: inline-block;
  padding: 10px;
  text-transform: capitalize;
}

.container nav .content .division input {
  text-transform: capitalize;
  padding: 7px;
  border-radius: 36px;
  border: 1px solid gray;
}

.container .productos {
  margin: 20px auto 0 auto;
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.container .productos a {
  text-decoration: none;
  color: black;
}

.container .productos .producto {
  cursor: pointer;
  background: #e5e6d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #d8dae7;
  background-color: white;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.container .productos .producto:hover {
  -webkit-box-shadow: 1px 1px 15px #929292;
          box-shadow: 1px 1px 15px #929292;
}

.container .productos .producto img {
  width: 80%;
}

.container .productos .producto p {
  text-align: center;
}

.container .productos .producto .btns {
  margin-top: 30px;
}

.container .productos .producto .btns button {
  padding: 7px;
  border: none;
  background-color: #f23c50;
  color: white;
  margin-bottom: 5px;
  border: 1px solid #f23c50;
  -webkit-transition: all .3s;
  transition: all .3s;
  /* &:nth-child(1) {
                        border: 1px solid $rojo;
                        color: $rojo;
                        background-color: white;
                    }*/
}

.container .productos .producto .btns button:hover {
  border: 1px solid #f23c50;
  background-color: white;
  color: #f23c50;
}

.container .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

.container .description .img img {
  width: 100%;
}

.container .description .info {
  width: 500px;
  -webkit-box-shadow: 1px 1px 15px gray;
          box-shadow: 1px 1px 15px gray;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .description .info button {
  cursor: pointer;
  padding: 7px;
  border: none;
  background-color: #f23c50;
  color: white;
  margin-bottom: 5px;
  border: 1px solid #f23c50;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.container .description .info button:hover {
  border: 1px solid #f23c50;
  background-color: white;
  color: #f23c50;
}

.container #busqueda {
  width: 60%;
  margin: auto;
}

.container #busqueda .inputs {
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  position: relative;
}

.container #busqueda .inputs > img {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-filter: opacity(0.2);
          filter: opacity(0.2);
}

.container #busqueda .inputs input,
.container #busqueda .inputs select,
.container #busqueda .inputs button {
  font-size: 13px;
  display: block;
  padding: 0;
  margin: 5px;
  padding: 7px;
}

.container #busqueda .inputs input {
  -webkit-box-flex: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
  border: 1px solid #d8dae7;
  padding-left: 30px;
}

.container #busqueda .inputs select {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border: 1px solid #d8dae7;
}

.container #busqueda .inputs button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  padding: 7px;
  border: none;
  background-color: #f23c50;
  color: white;
  margin-bottom: 5px;
  border: 1px solid #f23c50;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.container #busqueda .inputs button:hover {
  border: 1px solid #f23c50;
  background-color: white;
  color: #f23c50;
}

.container .carrito {
  position: fixed;
  bottom: 0px;
  right: 0;
  background-color: #f23c50;
  padding: 10px;
}

.container main {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  display: -ms-grid;
  display: grid;
  margin: 50px auto 0 auto;
  width: 70%;
  grid-gap: 20px;
}

.container main #lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 1px 15px grey;
          box-shadow: 1px 1px 15px grey;
  overflow: hidden;
  background-color: white;
  padding: 10px;
}

.container main #lista .column {
  border-bottom: 1px solid #d8dae7;
  margin: 0 auto 0 auto;
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.container main #lista .column:nth-child(1) {
  width: 100%;
  color: #f23c50;
}

.container main #lista .column .row {
  padding: 10px;
}

.container main #lista .column .row:nth-child(4) {
  width: 25%;
}

.container main #lista .column .row:nth-child(3) {
  width: 25%;
}

.container main #lista .column .row:nth-child(2) {
  width: 25%;
}

.container main #lista .column .row:nth-child(1) {
  width: 25%;
}

.container main #datos {
  border-bottom: 1px solid #d8dae7;
  -webkit-box-shadow: 1px 1px 15px grey;
          box-shadow: 1px 1px 15px grey;
  background-color: white;
  padding: 10px;
}

.container main #datos form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container main #datos form input {
  margin: 10px 0 10px 0;
  padding: 7px;
  border: none;
  border: 1px solid #d8dae7;
}

.container main #datos form button {
  padding: 7px;
  border: none;
  margin-top: 40px;
  background-color: #f23c50;
  color: white;
  margin-bottom: 5px;
  border: 1px solid #f23c50;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.container main #datos form button:hover {
  border: 1px solid #f23c50;
  background-color: white;
  color: #f23c50;
}

.container footer {
  margin-top: 50px;
  background-color: #aeb1a0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

.container footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container footer .links img {
  width: 150px;
}

.container footer .links ul {
  text-decoration: none;
  list-style-type: none;
  margin-left: 30px;
  border-left: 1px solid black;
  padding: 30px;
}

.container footer .links ul a {
  text-decoration: none;
}

.container footer .links ul a li {
  color: black;
  padding: 5px 0 5px 0;
}

.container footer .redes {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.container footer .redes img {
  width: 30px;
}
/*# sourceMappingURL=style.css.map */